
<div>
    <h2>Here are some of the projects I have worked on</h2>
    
</div>

<div>
    <h2>Portfolio Site</h2>
    <p>The site you are currently one was created with the aim of learning Angular and Typescript to be able to showcase my projects. This is an early iteration of the site, I hope to get this site onto 
        a cloud server (most likely Azure) to further excel my knowledge of cloud computing.
    </p>
</div> 

<div>
    <h2>Unreal Engine 5 C++ The Ultimate Game Developer Course</h2>
    <img src="images/Slash.PNG" alt="Recurring Nightmare Screenshot">
    <p>In order to progress my personal gaming development journey as well as my software developer journey, it was decided to move from Unity to Unreal Engine. The motivation for this was mainly due to Unreal using C++, a very powerful coding language that can be applied to many other software applications. This Udemy course was completed in order to become more comfortable with the Unreal Engine as well as C++.

        Learned C++ principles such as syntax, objected oriented programming, and Unreal Engine specific C++ functions. Throughout the tutorial, refactoring was used to future proof coding
        and allow for easy scalablility. Intrefaces and child classes were used to add multiple enemies, breakable objects and pick up items. The end result is an open world and "dev room"
        where a developer can easily implement and test new features.

        From this project I am hoping to develop more personal projects with Unreal Engine being my main engine. This excel my skills as a C++ coder and game developer.
    </p>
</div> 

<div>
    <h2>Recurring Nightmare</h2>
    <img src="images/Recurring Nightmare.png" alt="Recurring Nightmare Screenshot">
    <p>Created in Unity for Rowan's 2023 game jam, with the theme “recursion”. 
        This game follows a custom made “Peepo” 2D sprite made in photoshop as he navigates the worst nightmare of any junior developer: recursion. 
        Follow Peepo as he encounters recursive oddities like Henry, who harasses you to take his money or “double it” for the next person. But instead of doubling the money, Henry wont stop doubling and chases you! 
        Or the recursive dog, when pet, his tail will recursively get larger.

        Building off my previous games, the personal focus of this project was to create a cinematic experience similar to a "walking simular" game (ie Firewatch, Layers of Fear, Abzu, What Remains of Edith Finch). 
        Additionally, I wanted to use custom assets for this game jam. The majority of assets such as, voice lines and sprites were customized or created for this gamejam.
        Heavy scripting and sound design was done in C# for cutscene like sequences to continue Peepo journey throughout the gamejam and create cinematic gameplay.
        Reused assest came from Omori and Pokemon.
    </p>
</div>

<div>
    <h2>Zombie Run</h2>
    <img src="images/2DHorrorGame.PNG" alt="Zombie Run Screenshot">
    <p>Created in Unity for Rowan's 2022 game jam, with the theme “Two Genres That Dont Mix”. 
        This game follows your character as he runs away from zombies in a genre mixing hybrid: 2D Horror Platformer. 
        Manage your stamina as you try to get from platform to platform, always at an arms reach away from chasing zombies! 
        The personal focus of development was creating a character attribute (stamina) in C#, and creating a more polished game with a start menu and more complete asset collection. 
    </p>
</div> 

<div>
    <h2>Escape The Warehouse</h2>
    <img src="images/EscapetheWarehouse.PNG" alt="Escape The Warehouse Screenshot">
    <p>Escape The Warehouse is a first-person short game with the goal of escaping a warehouse using parkour mechanics. 
        Made in the Unity engine for my video game design course, this prototype was created to explore and understand the workflow of a videogame release. 
        A mock up, alpha and beta build was released with each iteration driving updates based of peers and instructors feedback. Coded turret targeting system in C#.
    </p>
</div> 

<div>
    <h2>Total Avalanche</h2>
    <img src="images/TotalAvalanche.PNG" alt="Total Avalanche Screenshot" style="width: 100%; height: auto;">
    <p>Expanding upon the Roll a Ball Tutorial, Total Avalanche uses the Unity Engine to create a third person action game where a skier gets stuck inside of a gigantic snowball! 
        The only way out is to roll down a challenging ski slope with dangerous obstacles such as other skiers, animals and trees. 
        To get to the bottom, the player needs to cross a river by navigating at high speed over a slender log left behind by a fallen tree.
        The personal focus was to focus on asset placement within an environment to add atmosphere to the players experience.
        
    </p>
</div> 

<div>
    <h2>Roll a Ball Tutorial</h2>
    <p>The goal of this simple game was to learn how the unity engine works. A youtube tutorial was followed to have a game with a ball and a coin. 
        A play wins by using wasd to move the ball to the coins!        

        The personal focus was to learn the basics of game development and create a simple game in Unity
    </p>
</div> 